<div class="firstseenmain">
  <div class="horizontal-scroll-wrapper  rectangles">
    <div style="position:relative ; background: url(/assets/bgimg/bgimg2.jpg) no-repeat;background-size: 190% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Experienced Doctors</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/projectbg34.png) no-repeat;background-size: 140% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/medic.jpg) no-repeat;background-size: 140% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/projectbg3.jpg) no-repeat;background-size: 124% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/chatbot.jpg) no-repeat;background-size: 187% 115%;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/247.jpg) no-repeat;background-size: 100% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <br> -->
