<div class="firstseenmain">
  <div class="horizontal-scroll-wrapper  rectangles">
    <div style="position:relative ; background: url(/assets/bgimg/bgimg2.jpg) no-repeat;background-size: 190% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Experienced Doctors</div>
          <div class="extrabancont">Trusted and reputed doctors with authorized certification from all over the world</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/projectbg34.png) no-repeat;background-size: 140% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Paperless Prescription</div>
          <div class="extrabancont">Get digital prescription from your favourite doctor with certified stamp</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/medic.jpg) no-repeat;background-size: 140% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Online Pharmacy</div>
          <div class="extrabancont">Get Medicine in less time with discounted prices.</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/projectbg3.jpg) no-repeat;background-size: 124% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">Online consultation</div>
          <div class="extrabancont">Get personalized and online consultation through video confrencing </div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/chatbot.jpg) no-repeat;background-size: 187% 115%;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">BOT Support</div>
          <div class="extrabancont">Get 24/7 support of chat bot specially designed for medical emergency situations.FEEL FREE TO ASK ANYTHING:)</div>
        </div>
      </div>
    </div>
    <div style="position:relative ; background: url(/assets/bgimg/247.jpg) no-repeat;background-size: 100% 100%;background-position: top;">
      <div class="bannercontent">
        <div class="mainbancontent">
          <div class="banheader">24/7 Doctor Support</div>
          <div class="extrabancont">We are always there for you.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <br> -->
