<div class="usermain">
  <div class="searchbar">
    <div class="searchtype">
      <div class="selecttype">
        <select name="typeofsearch" id="">
          <option value="Doctor" selected>Doctor</option>
          <option value="medicine">Medicine</option>
          <option value="Disease">Disease</option>
        </select>
      </div>
  </div>
    <div class="inputdiv">
      <input type="text" placeholder="Enter the keyword to search">
    </div>
    <div class="searchicon">
      <i class="material-icons">
        search
    </i></div>
  </div>
  <div class="contentusermain">
    <div class="doctors">
      <div class="sectionheader">DOCTORS WITH US...</div>
      <div class="alldocs">
        <div class="inddoc" *ngFor="let doc of resulteddocs">
          <div class="docimage">
            <img src="/assets/profile images/sapledoc.jpeg" alt="">
          </div>
          <div class="docdesc">
            <div class="docname">Dr. {{doc.name}}</div>
            <div class="docquali">{{doc.qualification}}</div>
            <div class="docspeciality">{{doc.specilization}}</div>
            <div class="docrating">
              <div class="ratingno">4.5</div>
              <i class="material-icons">
                star
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slots"></div>
    <div class="medicines"></div>
  </div>
</div>
<!-- <app-chatbot></app-chatbot> -->
