<div class="usermain">
  <div class="searchbar">
    <div class="searchtype">
      <div class="selecttype">
        <select name="typeofsearch" id="">
          <option value="Doctor" selected>Doctor</option>
          <option value="medicine">Medicine</option>
          <option value="Disease">Disease</option>
        </select>
      </div>
  </div>
    <div class="inputdiv">
      <input type="text" placeholder="Enter the keyword to search">
    </div>
    <div class="searchicon">
      <i class="material-icons">
        search
    </i></div>
  </div>
  <div class="contentusermain">
    <div class="doctors">
      <div class="alldocs">
        <div class="inddoc">Hello</div>
        <div class="inddoc">Hello</div>
        <div class="inddoc">Hello</div>
        <div class="inddoc">Hello</div>
        <div class="inddoc">Hello</div>
      </div>
    </div>
    <div class="slots"></div>
    <div class="medicines"></div>
  </div>
</div>
